*
{
    margin: 0;
    padding: 0;  
}
.bandera{
    display: grid;
    background-color: rgb(133, 79, 79);
    grid-template-columns: 33% 34% 33% ;
    grid-template-rows: 100vh;
}
.bandera:nth-child(1){
    background-color: red;
}
.bandera:nth-child(2){
    background-color: white;
    justify-content:center;
    align-items: center;
}
.bandera:nth-child(3){
    background-color: green;
}

.bandera #aguila{
   height: 60%;
   width: 34vw;
}
